<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>OpenIGTLink:<br/> Open Network Interface for Image Guided Therapy</h1>
  <p>OpenIGTLink provides a standardized mechanism for communication among computers and devices in operating rooms for wide variety of image-guided therapy (IGT) applications.</p>
  <p><a class="btn btn-primary btn-large" href="about.html">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Tracking</h2>
    <p>For stereotactic surgical guidance, OpenIGTLink provides a simple solution to import 3D tool tracking data from various sensors and commercial surgical navigation system to surgical navigation software, such as <a href="http://slicer.org">3D Slicer</a>.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Imaging</h2>
    <p>OpenIGTLink supports real-time image streaming. It allows you to imoprting intraoperative images to your image processing software from various imaging scanners.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Control</h2>
    <p>OpenIGTLink is an ideal solution for integration of robot-assisted intervention systems. It supports sending robot control commands, sensor readings, robot status, etc. </p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
